<div class="col-md-10 col-md-offset-1">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" ng-model="searchType"
                    bs-options="option as option for option in searchOptions" bs-select></button>
        </span>

        <input class="form-control" ng-model="search" bs-options="s as s for s in typeaheadList" bs-typeahead>
        <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ui-sref="search({searchType:searchType,searchString:search})">Go
        </button>
      </span>
    </div>
</div>