<div class="col-md-10">
    <div ng-repeat="item in cart_items" class="panel">
        <div class="panel-body">
            <img src="/BookImages/{{item.ISBN}}.jpg" class="icon-image">
            <b>{{item.title}}</b>

            <div class="pull-right">
                <div ng-if="item.purchaseType != 'EBOOK'" style="display:inline-block;">
                    <button class="btn btn-default" bs-dropdown>Quantity: {{item.quantity| json}}</button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="quantity in getQuantity(item)"><a ng-click="change_quantity(item,quantity)">{{quantity}}</a>
                        </li>
                    </ul>
                </div>
                <div style="display:inline-block;">
                    <button class="btn btn-default" bs-dropdown>{{item.purchaseType | capitalize}}</button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="{disabled:item.quantityNew<1}"><a
                                ng-click="change_purchase_type(item,'NEW')">New</a></li>
                        <li ng-class="{disabled:item.quanaityUsed<1}"><a ng-click="change_purchase_type(item,'USED')">Used</a>
                        </li>
                        <li ng-class="{disabled:item.quantityEBook<1}"><a ng-click="change_purchase_type(item,'EBOOK')">E-Book</a>
                        </li>
                        <li ng-class="{disabled:item.book.quanaityRent<1}"><a
                                ng-click="change_purchase_type(item,'RENT')">Rent</a></li>
                    </ul>
                </div>

                <div class="pull-right container-fluid">
                    <button class="btn btn-danger pull-right" ng-click="remove(item)"><span class="fa fa-remove"></span>
                    </button>
                    <br><br>
                    <p><b>Cost: </b>{{item.quantity}} x ${{getPrice(item)}} = </p>
                    <p class="pull-right">${{item.quantity * getPrice(item)}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <p class=""><b>Total: </b>${{getTotal()}}</p>
        <button class="btn btn-primary" ng-click="checkout();">Checkout</button>
    </div>

</div>